build
MANIFEST.in
__pycache__
*.egg-info
old
tools
.*.sw*
test*
*.o
*.so
*.sif
*.p
*.pickle
*.mov
*.mp4
*.mkv
*.data
*~
out*
cachegrind*
src/**/*.png
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*Notes.bib
*.out
*.synctex.gz
**/*.DS_Store
